body {
  background: #999999;
}
.maincontainer {
  height: 200px;
  width: 200px;
  background: #EEEEEE;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 12px;
}
#container1 {
  border-radius: 100%;
  float: left;
  margin-left: 20px;
}
#container2 {
  float:left;
}
.halfc {
  height: 200px;
  width: 200px;
  position: absolute;
  overflow: hidden;
  border-radius: 100%;
}
#leftc {
  z-index: 1;
}
#rightc {
  z-index: 10;
}
.clip {
  position: absolute;
  transition: clip 1.25s;
  transition-timing-function: ease-out;
}
#clip-left {
  clip: rect(0px,95px,200px,0px);
}
#clip-right {
  clip: rect(0px,200px,200px,105px)  
}
img {
  position: absolute;
  z-index: 1;
}
#textc {
  position: absolute;
  z-index:20;
  word-wrap: break-word;
  height: 200px;
  width: 0px;
  overflow: hidden;
  transition: width 1.25s;
  transition-timing-function: ease-out;
  border-radius: 100%;
  margin-top: 6%;
  text-align: center;
}
span {
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
}