body {
  background: #999999;
}
.maincontainer {
  height: 200px;
  width: 200px;
  background: #EEEEEE;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 15px;
}
#container1 {
  border-radius: 100%;
  float: left;
  margin-left: 20px;
}
.halfc {
  height: 200px;
  width: 200px;
  position: absolute;
  overflow: hidden;
  border-radius: 100%;
}
#leftc {
  z-index: 1;
}
#rightc {
  z-index: 10;
}
.clip {
  position: absolute;
  transition: clip 1.5s;
  transition-timing-function: ease-out;
}
#clip-left {
  clip: rect(0px,95px,200px,0px);
}
#clip-right {
  clip: rect(0px,200px,200px,105px)  
}