div.active{
  position: absolute;
  border-radius: 100%;
}
#div1 {
  background: #FF9999;
  height: 50px;
  width: 50px;
  z-index: 7;
}
#div2 {
  background: #FFCC99;
  z-index: 6;
}
#div3 {
  background: #FFFFCC;
  z-index: 5;
}
#div4 {
  background: #CCFF99;
  z-index: 4;
}
#div5 {
  background: #CCFFFF;
  z-index: 3;
}
#div6 {
  background: #CCCCFF;
  z-index: 2;
}
#div7 {
  background: #EEEEEE;
  z-index: 1;
}